.container {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 15px;
  font-family: Arial, sans-serif;
}

.title {
  font-size:24px;
  margin-bottom: 20px;
  color: #333;
}

.uploadSection {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.dropzone-container {
  margin-bottom: 10px;
}

.dropzone {
  border: 2px dashed #007bff;
  border-radius: 4px;
  padding: 12px;
  width: 150px; /* Set fixed width */
  height: 50px; /* Set fixed height */
  display: flex;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.dropzone.active {
  background-color: #e9f5ff;
}

.button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.textInput {
  padding: 8px;
  width: 75%;
  font-size: 18px;
  margin-bottom: 10px;
}

.label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.status {
  margin-top: 10px;
  font-size: 18x;
  color: #28a745;
}

.file-name {
  margin-top: 10px;
  font-size: 20px;
  color: #555;
  font-style: italic;
}
